<div class="container text-center">
    <div class="row align-items-center ">
        <div class="col align-self-center">
            <div class="card">
                <h5 class="card-header">One</h5>
                <div class="card-body">

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                            Selecionar
                        </button>
                        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="TituloModalCentralizado">Cesta One </h5>

                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">Atualmente essa cesta possui os ítems abaixo:</h5>
                                        <ul>
                                            <li>2- Arroz</li>
                                            <li>3- Feijão</li>
                                            <li>1- Suco</li>
                                            <li>2- Arroz</li>
                                            <li>6- Cuscuz</li>
                                            <li>2- Óleo</li>
                                            <li>1- Farinha</li>
                                            <li>4- Pão</li>
                                            <li>5- Leite</li>
                                            <li>1- Chocolate</li>
                                            <li>2- Açucar</li>
                                            <li>7- Milho</li>
                                            <li>2- temperos</li>
                                            <li>6- Biscoito</li>
                                            <li>10- Maioneze</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Adicionar para venda</button>
                                        <button type="button" class="btn btn-primary">Editar cesta</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col align-self-center">
            <div class="card">
                <h5 class="card-header">Two</h5>
                <div class="card-body">

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                            Selecionar
                        </button>
                        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="TituloModalCentralizado">Cesta two </h5>

                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">Atualmente essa cesta possui os ítems abaixo:</h5>
                                        <ul>
                                            <li>2- Arroz</li>
                                            <li>3- Feijão</li>
                                            <li>1- Suco</li>
                                            <li>2- Arroz</li>
                                            <li>6- Cuscuz</li>
                                            <li>2- Óleo</li>
                                            <li>1- Farinha</li>
                                            <li>4- Pão</li>
                                            <li>5- Leite</li>
                                            <li>1- Chocolate</li>
                                            <li>2- Açucar</li>
                                            <li>7- Milho</li>
                                            <li>2- temperos</li>
                                            <li>6- Biscoito</li>
                                            <li>10- Maioneze</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Adicionar para venda</button>
                                        <button type="button" class="btn btn-primary">Editar cesta</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        

        <div class="col align-self-center">
            <div class="card">
                <h5 class="card-header">Three</h5>
                <div class="card-body">

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                            Selecionar
                        </button>
                        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="TituloModalCentralizado">Cesta three </h5>

                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">Atualmente essa cesta possui os ítems abaixo:</h5>
                                        <ul>
                                            <li>2- Arroz</li>
                                            <li>3- Feijão</li>
                                            <li>1- Suco</li>
                                            <li>2- Arroz</li>
                                            <li>6- Cuscuz</li>
                                            <li>2- Óleo</li>
                                            <li>1- Farinha</li>
                                            <li>4- Pão</li>
                                            <li>5- Leite</li>
                                            <li>1- Chocolate</li>
                                            <li>2- Açucar</li>
                                            <li>7- Milho</li>
                                            <li>2- temperos</li>
                                            <li>6- Biscoito</li>
                                            <li>10- Maioneze</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Adicionar para venda</button>
                                        <button type="button" class="btn btn-primary">Editar cesta</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col align-self-center">
            <div class="card">
                <h5 class="card-header">Four</h5>
                <div class="card-body">

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                            Selecionar
                        </button>
                        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="TituloModalCentralizado">Cesta Four </h5>

                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">Atualmente essa cesta possui os ítems abaixo:</h5>
                                        <ul>
                                            <li>2- Arroz</li>
                                            <li>3- Feijão</li>
                                            <li>1- Suco</li>
                                            <li>2- Arroz</li>
                                            <li>6- Cuscuz</li>
                                            <li>2- Óleo</li>
                                            <li>1- Farinha</li>
                                            <li>4- Pão</li>
                                            <li>5- Leite</li>
                                            <li>1- Chocolate</li>
                                            <li>2- Açucar</li>
                                            <li>7- Milho</li>
                                            <li>2- temperos</li>
                                            <li>6- Biscoito</li>
                                            <li>10- Maioneze</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Adicionar para venda</button>
                                        <button type="button" class="btn btn-primary">Editar cesta</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

      
        <div class="col align-self-center">
            <div class="card">
                <h5 class="card-header">Personalizada</h5>
                <div class="card-body">

                    <div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">
                            Selecionar
                        </button>
                        <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="TituloModalCentralizado">Cesta Personalizada </h5>

                                    </div>
                                    <div class="modal-body">
                                        <h5 class="card-title">Atualmente essa cesta possui os ítems abaixo:</h5>
                                        <ul>
                                            <li>2- Arroz</li>
                                            <li>3- Feijão</li>
                                            <li>1- Suco</li>
                                            <li>2- Arroz</li>
                                            <li>6- Cuscuz</li>
                                            <li>2- Óleo</li>
                                            <li>1- Farinha</li>
                                            <li>4- Pão</li>
                                            <li>5- Leite</li>
                                            <li>1- Chocolate</li>
                                            <li>2- Açucar</li>
                                            <li>7- Milho</li>
                                            <li>2- temperos</li>
                                            <li>6- Biscoito</li>
                                            <li>10- Maioneze</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Adicionar para venda</button>
                                        <button type="button" class="btn btn-primary">Editar cesta</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

           