@using Cestoque.Enums
@model CestasModel
@{
    ViewData["Title"] = "Listagem de Cestas";
}
<div class="container form-group">
    <label>Cesta</label>

    <select asp-for="Cesta" class="form-control">
        <option value="0">Selecione</option>
        <option value="@CestasEnum.CestaOne">One</option>
        <option value="@CestasEnum.CestaTwo">Two</option>
        <option value="@CestasEnum.CestaThree">Three</option>
        <option value="@CestasEnum.CestaFour">Four</option>
    </select>
    <br />
    <a class="btn btn-primary btn-block" role="button" asp-controller="Cestas" asp-route-id="" asp-action="EditarItensCesta">Selecionar</a>
    
</div>

