<div class="container">
    <div class="row justify-content-between" >
        <div class="card" style="width: 18rem;" class="col-4">

            <div class="card-body">
                <h5 class="card-title">Cesta one</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Feijão
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Arroz
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Óleo
                        <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Açucar
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                </ul>
               
                <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;" class="col">

            <div class="card-body">
                <h5 class="card-title">Cesta two</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Feijão
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Arroz
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Óleo
                        <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Açucar
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                </ul>
                
                <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>



    <div class="row justify-content-between">
        <div class="card" style="width: 18rem;" class="col">

            <div class="card-body">
                <h5 class="card-title">Cesta three</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Feijão
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Arroz
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Óleo
                        <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Açucar
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                </ul>
              
                <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;" class="col-8">

            <div class="card-body" >
                <h5 class="card-title">Cesta four</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Feijão
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Arroz
                        <span class="badge badge-primary badge-pill">3</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Óleo
                        <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Açucar
                        <span class="badge badge-primary badge-pill">8</span>
                    </li>
                </ul>
              
                <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="card" style="width: 18rem;" class="col-12">

            <div class="card-body">
                <h5 class="card-title">Personalizar Cesta</h5>
                <p class="card-text">Cesta personalizada pelo usuário do sistema!</p>
                <a href="#" class="btn btn-primary">Adicionar</a>
            </div>
        </div>

    </div>

</div>
