@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Restrita";
}

<h1> Voce não tem permissao para acessar essa funcionalidade, contate o administrador do sistema!<a asp-controller="Home" asp-action="Index">Voltar</a></h1>