@model UsuarioModel
    <style>
        .nomeap {
            background-color: #FFF;
            font-family: 'Roboto Mono', monospace;
            font-weight:bold;
            font-size:1.5em;
            color: #008dff;
        }
        .nav-item {
            font-family: 'Roboto Mono', monospace;
            font-weight: bold;
            font-size: 1rem;
            
        }
        .nav-link  {
            color: #273036;
        }
       
    </style>
    <a class="navbar-brand nomeap " asp-area="" asp-controller="Home" asp-action="Index">@Model.Nome <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
</svg> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Estoque" asp-action="Index">Estoque</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="Fornecedores" asp-action="Index">Fornecedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " asp-area="" asp-controller="Cestas" asp-action="Index">Cestas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Logistica" asp-action="Index">Logística</a>
            </li>


            @if (Model.Perfil == Cestoque.Enums.PerfilEnum.Admin)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Financeiro" asp-action="Privacy">Financeiro</a>
                </li>
            }
            <div class="dropdown">
                <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
</svg> </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Login" asp-action="Sair">Sair <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
    <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
</svg></a> </li></a>
           
    </div>
    </div>

    </ul>
    </div>

