
@{
    ViewData["Title"] = "Pagina Inicial";
}

<style>


    body {
        background-color: #f3f4f5;
        font-family: 'Roboto Mono', monospace;
    }

    p {
        font-size: 2em;
        margin-top:300px;
        font-weight: bold;
        display: flex;
        justify-content: center;
    }

  
</style>


<p ">Bem-vindo(a).</p>