


<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>Açucar</td>
            <td>2</td>
            <td>20</td>
        </tr>
    </tbody>
</table>